.App {
  text-align: center;
}

.outerCenter {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middleCenter {
  display: table-cell;
  vertical-align: middle;
}

.innerCenter {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}