#profile-title {
  width: 800px;
  margin-left: 5vw;
  margin-right: 5vw;
}

@media (max-width: 720px) {
  .profile-title {
    max-width: 800px;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

#completed {
  margin-top: 3vh;
  text-align: center;
}
#posted {
  margin-top: 3vh;
  text-align: center;
}
