body {
    font-family: 'Open Sans';
}

.titleboard {
    overflow: hidden;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 5vh;
    height: 5vh;
    left: 5vh;
    top: 5vh;
}
  
  /* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}
  
  /* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #6a7dfe;
    background: rgb(79,184,255);
    background: linear-gradient(90deg, rgba(79,184,255,1) 31%, rgba(0,151,255,1) 87%);
}
  
  /* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}
  
  /* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}
  
  /* General sidebar styles */
.bm-menu {
    background: #f2f2f2;
    padding: 2vh;
    font-size: 50px;
}
  
  /* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}
  
  /* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}
  
  /* Individual item */
.bm-item {
    display: inline-block;
}
  
  /* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.menu-item {
    font-size: 30px;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: none;
    color: #6a7dfe;
    color: rgb(79,184,255);
    color: linear-gradient(90deg, rgba(79,184,255,1) 31%, rgba(0,151,255,1) 87%);
}

.titlebar {
    width: 100%;
    height: 15vh;
    background-color: #f2f2f2;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.invis {
    height: 15vh;
}

.titlebar h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 14.7vh;
    font-size: 5vh;
}

.submit-btn {
    position: fixed;
    right: 5vh; 
    z-index: 0; 
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 14.7vh;
    font-size: 10vh;
    color: #000;
    text-decoration: none;
}